.nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	background-color: grey;
/*	height: 22px;*/
}

	.nav li {
		float: left;
		padding: 0 20px 0 20px;
		transition: .4s ease-in-out;
	}

	.nav li:hover {
		background-color: silver;
	}

.nav li:last-of-type {
	clear: both;
	float: none;
}

	.nav li a {
		font-family: sans-serif;
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-size: 20px;
	}

	.nav li a:hover {
		font-family: sans-serif;
		text-decoration: none;
		color: purple;
		text-transform: uppercase;
		font-size: 20px;
	}



.nav2 {
	margin: 0;
	padding: 0;
}

	.nav2 a {
		display: block;
		float: left;
		font-family: sans-serif;
		color: black;
		text-transform: uppercase;
		font-size: 30px;
		/*padding: 0 10px 0 10px;*/
		transition: .4s ease-in-out;
		text-align: center;
		text-decoration: none;
		width: calc(100% / 5);
		/*width: 15%;*/
		background-color: silver;
	}

	.nav2 a:hover {
		background-color: grey;
		color: purple;
	}

	.nav2 span {
		display: block;
		clear: both;
	}

	.nav2 a:first-of-type {
		border-radius: 15px 0 0 15px;
	}

	.nav2 a:last-of-type {
		border-radius: 0 15px 15px 0;
	}