body {
	margin: 0;
	padding: 0;
}

.main > div {
	height: 1000px;
	float: left;
}

.black {
	background-color: black;
	width: 100%;
	height: 100px;

}

.main .yellow {
	background-color: yellow;
	width: 20%;
}

.main .red {
	background-color: red;
	width: 60%;
}

.main .green {
	background-color: green;
	width: 20%;
}